body {
	background-image: url(images/background.jpg);
	margin: 0px;
	padding: 0px;
}
.wrapper {
	background-color: #ecd4a5;
	width: 950px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #6C423E;
	border-right-color: #6C423E;
	border-bottom-color: #6C423E;
	border-left-color: #6C423E;
	border-top-width: 10px;
	border-right-width: 2px;
	border-bottom-width: 10px;
	border-left-width: 2px;
	padding: 10px;
}
.main a:hover {
	color: #f9e894;
	text-decoration: none;
}


.navigation {
	padding: 0px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 10px;
}
.navigation li {
	display: inline;
}
.navigation li a {
	background-color: #D09B78;
	border: 1px outset #F9E894;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
	margin-top: 0px;
	margin-right: 40px;
	margin-bottom: 0px;
	color: #F9E894;
	text-decoration: none;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	list-style-type: none;
}
.content h1 {
	font-family: Tahoma, Geneva, sans-serif;
	color: #6C423E;
	font-weight: bold;
	text-align: left;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}

.navigation li a:hover {
	color: #D09B78;
	border-top-color: #D09B78;
	border-right-color: #D09B78;
	border-bottom-color: #D09B78;
	border-left-color: #D09B78;
	background-color: #F9E894;
}

/*------------------------------------*\
	NAV
\*------------------------------------*/
#nav{
	list-style:none;
	font-weight:bold;
	margin-bottom:10px;
	/* Clear floats */
	float:left;
	width:100%;	/* Bring the nav above everything else--uncomment if needed.
	position:relative;
	z-index:5;
	*/
}
#nav li{
	float:left;
	margin-right:10px;
	position:relative;
}
#nav a{
	display:block;
	padding:5px;
	text-decoration:none;
	background-color: #f9e894;
	margin-right: 100px;
	color: #6c423e;
	border: 2px outset #F9E894;
	font-family: "MS Serif", "New York", serif;
}
#nav a:hover{
	color:#fff;
	background:#6c423e;
	text-decoration:none;
}

/*--- DROPDOWN ---*/
#nav ul{
	background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
#nav ul li{
	padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
}
#nav ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nav li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
}
#nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	background:#f9e894;
	text-decoration:none;
}
#nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
}
#nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	background:#d09b78;
}
.home-img img {
	border: 1px solid #000;
}
.main {
	background-color: #f9e894;
	border-radius: 15px;
	font-family: Tahoma, Geneva, sans-serif;
	margin: 10px;
	padding: 20px;
	text-align: left;
	vertical-align: top;
}
.main a {
	text-decoration: none;
	color: #6c423e;
}

.recipes td {
	text-align: left;
	vertical-align: top;
}

.nutrition {
	border: 2px double #6c423e;
	background-color: #d09b78;
}
